<li>
    <ul style="text-align: center">
        <img src={{pokeImagen}} alt="">
        <h1> {{pokeNombre}}</h1>
    </ul>
    <ul style="text-align: center">
        <img src={{pokeImagen2}} alt="">
        <h1> {{pokeNombre2}}</h1>
    </ul>
    <ul style="text-align: center">
        <img src={{pokeImagen3}} alt="">
        <h1> {{pokeNombre3}}</h1>
    </ul>
    <ul style="text-align: center">
        <img src={{pokeImagen4}} alt="">
        <h1> {{pokeNombre4}}</h1>
    </ul>
    <ul style="text-align: center">
        <img src={{pokeImagen5}} alt="">
        <h1> {{pokeNombre5}}</h1>
    </ul>
    <ul style="text-align: center">
        <img src={{pokeImagen6}} alt="">
        <h1> {{pokeNombre6}}</h1>
    </ul>
</li>